# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Naršyklėje išsaugoti puslapiai (nenaudojami importuose)
src/assets/deagrama high intensity.html
src/assets/deagrama high intensity_files/
src/assets/mergina rankom istiestom.html
src/assets/mergina rankom istiestom_files/
src/assets/mrgina su kilimeliu.html
src/assets/mrgina su kilimeliu_files/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
